.invocation
    .header
        %span.method-name
            Method:
            &= invocation.method_name
        %span.args
            %b Args:
            &=invocation.json_args
    %pre.body
        %code{'data-language' => 'ruby',
              'data-line' => invocation.first_line}= invocation.source
    .localsJSON&= invocation.json_line_locals
    .footer
        %span.val
            %b Returned:
            &=invocation.val
    .children
        - invocation.children.each do |inv|
            = haml :invocation, locals: {invocation: inv}