.invocation
    .header
        %span.method-name
            Method:
            &= invocation.method_name
        %span.args
            %b Args:
            &=invocation.args
    .body
        - lines = invocation.source.split("\n")
        - lineno = invocation.first_line
        - lines.each do |line|
            %pre.code&=line
            %pre.locals&=invocation.get_locals_for_line(lineno)
            - lineno+= 1
    .footer
        %span.val
            %b Returned:
            &=invocation.val
    .children
        - invocation.children.each do |inv|
            = haml :invocation, locals: {invocation: inv}