%html
  %head
    = bootstrap_assets
    %link(rel="stylesheet" media="screen, projection" type="text/css" href="css/solarized-light.css")
    %link(rel="stylesheet" media="screen, projection" type="text/css" href="scss/gazer.scss")
  %body
    - container :fluid do
      - row do
        - span7 do
          = yield
        - span5 do
          %table#localsTable
            %tr
              %th(span='2') Locals
    %script(src="js/rainbow.js")
    %script(src="js/generic.js")
    %script(src="js/ruby.js")
    %script(src="js/rainbow.linenumbers.js")
    %script(src="js/gazer.js")
