.invocation {
    margin-left: 2em;
}

.header {
    background: maroon;
    color: white;
}

.method-name {
    font-weight: bold;
}

.args {
    float: right;
    background: maroon;
}

.body {
    clear: both;
}

.footer {
    background: darkslateblue;
    color: white;
    margin-bottom: 10px;
}