%html
  %head
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/scss/main.scss"}
  %body
    #header
      .intro
        Code path is
        %span#codepath= @codepath
    #stats
      #call_count
        Call count:
        %span.value= @call_count
    #invocations
      - @roots.each do |inv|
        = haml :invocation, locals: {invocation: inv}
